body {
    font-family: Verdana;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    padding: 10px;
    background-color: #2A4765;
    color: white;
}

h2 {
    padding: 5px;
    background-color: #73A790;
    color: white;
}

td {
    padding-right: 15px;
}

.process-div {
    text-align: center;
}

#case-data-div {
    display: inline-block;
}